.box1{
    background-color: #3f51b5;
     height: 120px;
}

.box2{
    background-color: #3f51b5;
    height: 60px !important;
}

.redes{
    font-size: 60px !important;
    color: white !important;
}

.texto{
    color: white !important; 
}
