.caixa{
    background-color: #4169E1;
} 

.titulo{
    color: white !important;
    font-weight: "bold" 
}

.botao{
    border-color: white !important;
    background-color: #4169E1;
    color: white !important;
}

.postagens{
    background-color:white !important;
}

.imagem{
    border-radius: 100px;
    padding:20px;
}